<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @blog.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @blog.url %>
</p>

<p>
  <strong>Feed:</strong>
  <%= @blog.feed %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

<% @articles.each do |article| %>
<p>
  <a href="<%= article.url %>" target="_blank"><%= article.name %></a>
</p>
<% end %>
