<div class="container">
  <div class="row">
    <h3><a href="<%= @blog.url %>" target="_blank"><%= @blog.name %></a></h3>

    <p><%= @blog.blog_description %></p>
    <ul class="list-inline">
      <% @tags.each do |tag| %>
          <li>
            <a href="#" class="btn btn-default btn-xs"><%= tag.name %></a>
          </li>
      <% end %>
    </ul>
    <p class="text-right"><a href="#" class="btn btn-success" role="button">+ このブログをフィード</a></p>
  </div>
  <!--@see-->
  <!--http://bootsnipp.com/snippets/featured/thumbnail-caption-hover-effect-->
  <div class="row">
    <% @articles.each do |article| %>
        <div class="col-md-3 col-sm-4">
          <!--<div>-->
          <!--<h4>-->
          <!--<small><%= article.published.strftime("%Y/%m/%d") %></small>-->
          <!--</h4>-->
          <!--<div class="media-body">-->
          <!--<h4 class="media-heading"><a href="<%= article.url %>" target="_blank"><%= truncate(article.name) %></a>-->
          <!--</h4>-->

          <!--<p><%= truncate(article.article_description, length: 100) %></p>-->
          <!--</div>-->
          <!--</div>-->
          <div class="thumbnail">
            <div class="caption">
              <h4>Thumbnail Headline</h4>

              <p>short thumbnail description</p>

              <p><a href="" class="label label-danger" rel="tooltip" title="Zoom">Zoom</a>
                <a href="" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
            </div>
            <img src="http://lorempixel.com/400/300/sports/1/" alt="...">
          </div>
        </div>
    <% end %>
  </div>
</div>
</div>
