<div class="container">
  <div class="row">
    <h3><a href="<%= @blog.url %>" target="_blank"><%= @blog.name %></a></h3>

    <p><%= @blog.blog_description %></p>
    <ul class="list-inline">
      <% @tags.each do |tag| %>
          <li>
            <a href="#" class="btn btn-default btn-xs"><%= tag.name %></a>
          </li>
      <% end %>
    </ul>
    <p class="text-right"><a href="#" class="btn btn-success" role="button">+ このブログをフィード</a></p>
  </div>
  <!--@see-->
  <!--http://bootsnipp.com/snippets/featured/thumbnail-caption-hover-effect-->
  <div class="row">
    <% @articles.each do |article| %>
        <a href="<%= article.url %>" target="_blank">
        <div class="col-md-3 col-sm-4">
          <!--<div>-->
          <!--<h4>-->
          <!--<small><%= article.published.strftime("%Y/%m/%d") %></small>-->
          <!--</h4>-->
          <!--<div class="media-body">-->
          <!--<h4 class="media-heading"><a href="<%= article.url %>" target="_blank"><%= truncate(article.name) %></a>-->
          <!--</h4>-->

          <!--<p><%= truncate(article.article_description, length: 100) %></p>-->
          <!--</div>-->
          <!--</div>-->
          <div class="thumbnail">
            <div class="caption">
              <h4><%= truncate(article.name) %></h4>

              <p><%= truncate(article.article_description, length: 100) %></p>

            </div>
            <div class="article-aria-box">
              <small><%= article.published.strftime("%Y/%m/%d") %></small>
            <!--<img src="http://lorempixel.com/400/300/sports/1/" alt="...">-->
            <h4><%= truncate(article.name) %></h4>
            </div>
          </div>
        </div>
        </a>
    <% end %>
  </div>
</div>
</div>
