<div class="section-signup">
<div class="container">
  <div class="row">
    <div class="col-sm-7 top-intro">
      <h1 class="title">Always, suck in knowledge</h1>
        <h4>Hacknessは技術系ブログに特化したアンテナサイトです</h4>
    </div>
    <div class="main col-sm-5">
      <div class="row row-btn-github">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <%= link_to user_omniauth_authorize_path(:twitter), :class => 'btn btn-lg btn-github btn-block' do %>
              <i class="fa fa-github"></i><span>GitHubで新規登録/ログイン</span>
          <% end %>
        </div>
      </div>
      <div class="row row-btn-twitter">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <%= link_to user_omniauth_authorize_path(:twitter), :class => 'btn btn-lg btn-twitter btn-block' do %>
              <i class="fa fa-twitter"></i><span>Twiiterで新規登録/ログイン</span>
          <% end %>
        </div>
      </div>
      <div class="login-or">
        <hr class="hr-or">
        <!--<span class="span-or">or</span>-->
      </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="form-group">
            <%= f.text_field :name, autofocus: true, :class => 'form-control', :placeholder => 'ユーザー名', :required => true %>
        </div>
        <div class="form-group">
            <%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'メールアドレス', :required => true %>
        </div>
        <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'パスワード',  :required => true %>
        </div>
        <div class="registration">
            <%= f.submit "Hacknessに登録する" , :class => 'btn btn-registration'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<div class="section-sns">
  <div class="container">
    SNS
  </div>
</div>
<div class="section-intro">
  <div class="container">
    <h1 class="text-center">Introduction</h1>
    <div class="row">
      <div class="col-md-5">
        <h2>いつも情報をアンテナする</h2>
        <p>Hacknessは技術系ブログに特化したアンテナサイトです。好みのブログをフィードすることができます。</p>
      </div>
      <div class="col-md-7">
        <img src="/assets/ss-large.png" class="ss-large">
      </div>
    </div>
  </div>
</div>
<div class="section-description">
  <div class="container">
    <h1 class="text-center">Features</h1>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="feature-box clearfix">
          <i class="fa fa-rss fa-4x fa-fw features-icon"></i>
          <div class="">
            <h4 class="text-left">好みのブログをフィード</h4>
            <p class="text-left">フィードしたいブログを登録できます。他の人が登録してるブログで気になるものがあればフィードできます。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="feature-box clearfix">
            <i class="fa fa-folder-open fa-4x fa-fw features-icon"></i>
            <div class="">
                <h4 class="text-left">気になる記事をストック</h4>
                <p class="text-left">気になる記事、残しておきたい記事をストックすることができます。</p>
            </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="feature-box clearfix">
            <i class="fa fa-calendar fa-4x fa-fw features-icon"></i>
            <div class="">
                <h4 class="text-left">気になる技術のイベント情報を</h4>
                <p class="text-left">気になる技術のタグを事前に登録しておくと、その技術にマッチしたイベント情報をキャッチできます。</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-recommend">
  <div class="container">
    <h1 class="text-center">Let's get started!</h1>
    <div class="text-center">
      <p>さあ、今すぐ情報をアンテナしよう</p>
      <a class="btn btn-getstarted btn-lg" href="#">Let's get started</a>
    </div>
  </div>
</div>