<% @articles.each do |article| %>
    <div class="media">
        <span class="media-left">
                      <!--<img src="http://lorempixel.com/40/40/people/1/">-->
                    </span>

        <div class="media-body">
            <p>
                <small><%= article.published.strftime("%Y/%m/%d") %></small>
                        <span class="pull-right like-button">
                          <button type="button" class="btn btn-link">
                              <i class="glyphicon glyphicon-folder-open"></i>
                          </button>
                        </span>
            </p>
            <p class="media-heading article-name">
                <a href="<%= article.url %>" target="_blank"><%= article.name %></p></a>
            <p class="pull-right">
                <small>Posted by</small>
                <span><a href="blogs/<%= article.blog_id %>"><%= article.blog.name %></a></span>
            </p>
        </div>
    </div>
<% end %>