<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <ul class="nav nav-tabs top-tabs">
        <li class="active"><a href="#newarraival" data-toggle="tab">新着</a></li>
        <li><a href="#myfeed" data-toggle="tab">マイフィード</a></li>
      </ul>
      <div class="tab-content">
        <!--新着-->
        <div class="tab-pane active" id="newarraival">
            <div class="comments-list">
              <% @articles.each do |article| %>
                  <div class="media">
                    <span class="media-left">
                      <!--<img src="http://lorempixel.com/40/40/people/1/">-->
                    </span>

                    <div class="media-body">
                      <p>
                        <small><%= article.published.strftime("%Y/%m/%d") %></small>
                        <small class="pull-right">
                          <button type="button" class="btn btn-link like-button">
                            <i class="glyphicon glyphicon-heart-empty"></i></button>
                        </small>
                      </p>
                      <p class="media-heading article-name">
                        <a href="<%= article.url %>" target="_blank"><%= article.name %></p></a>
                      <p>
                        <small>Posted by</small>
                        <span><a href="blogs/<%= article.blog_id %>"><%= article.blog.name %></a></span>
                      </p>
                    </div>
                  </div>
              <% end %>
            </div>
        </div>
        <!--マイフィード-->
        <div class="tab-pane" id="myfeed">
            <div class="comments-list">
              <% @articles.each do |article| %>
                  <div class="media">
                    <a class="media-left" href="#">
                      <!--<img src="http://lorempixel.com/40/40/people/1/">-->
                    </a>

                    <div class="media-body">
                      <p>
                        <small><%= article.published.strftime("%Y/%m/%d") %></small>
                        <small class="pull-right">
                          <button type="button" class="btn btn-default like-button">
                            <i class="glyphicon glyphicon-heart-empty"></i></button>
                        </small>
                      </p>
                      <h4 class="media-heading article-name">
                        <a href="<%= article.url %>" target="_blank"><%= article.name %></h4>

                      <p>
                        <small>
                          <img class="img-circle"
                               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc4rXaPhKVgQfzuU1zwD6TJvaE9x1E184vrqYMCN1Hb-EgNEjd">
                          <a href="blogs/<%= article.blog_id %>"><%= article.blog.name %></a>
                        </small>
                      </p>
                    </div>
                  </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
      </ul>
    </div>
  </div>
</div>