<!--<div class="container top-container">-->
    <!--<div class="row">-->
        <!--<div class="main">-->
            <!--<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->
                <!--<div class="form-group">-->
                    <!--<%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'メールアドレス' %>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'パスワード' %>-->
                    <!--<%= link_to "パスワードを忘れた方", new_password_path(resource_name), :class => 'pull-right' %>-->
                <!--</div>-->
                <!--<div class="registration">-->
                    <!--<%= f.submit "ログイン", :class => 'btn btn-registration btn-success' %>-->
                <!--</div>-->
            <!--<% end %>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1 class="pull-left">ログイン</h1>
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'メールアドレス' %>
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'パスワード' %>
                        </div>
                        <%= f.submit "ログイン", :class => 'btn btn-custom btn-lg btn-block' %>
                    <% end %>
                    <%= link_to "パスワードを忘れた方", new_password_path(resource_name), :class => 'pull-right' %>
                    <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">パスワードを忘れた方</a>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

<div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">パスワードを忘れた方</h4>
            </div>
            <div class="modal-body">
                <p>メールアドレスを入力してください</p>
                <input type="email" name="recovery-email" id="recovery-email" class="form-control" autocomplete="off">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-custom">送信</button>
            </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

