<!DOCTYPE html>
  <html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hackness</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.17.2/build/cssreset/cssreset-min.css">

    <!-- Bootstrap -->
    <!--<link href="css/bootstrap.css" rel="stylesheet">-->
    <!--<link href="css/typeaheadjs.css" rel="stylesheet">-->
    <!--&lt;!&ndash; カスタマイズ用CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" media="screen" href="css/bootstrap-custom.css">-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<body>
<%= render 'shared/header' %>
<%= yield %>

</body>
</html>
